{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% form_theme form 'GanemosMadridFirmasApoyoBundle::form_theme.html.twig' %}

{% block body %}

    <div class="span9 offset2">

      {% if app.request.query.get('header') == '' %}
        <h1>APOYA A GANEMOS MADRID</h1>
       {% endif %}

        <p>Quienes vivimos en Madrid queremos recuperar nuestra ciudad.</p>
        <p>Queremos arrebatársela a quienes la han convertido en una fuente de negocio al servicio de los poderosos y en un caldo de cultivo para la corrupción.</p>
        <p>Queremos transformarla en un lugar habitable, una ciudad sostenible, un Madrid para las personas que lo habitamos, lo trabajamos, lo sufrimos y lo disfrutamos.</p>
        <p>Ganemos Madrid nace para poner las instituciones al servicio de la gente, y no tiene sentido sin su apoyo. Nos hemos fijado un número mínimo de 30.000 firmas para saber si una candidatura ciudadana a las elecciones municipales cuenta con respaldo suficiente para comenzar su andadura.</p>
        <p>Por eso, si estás de acuerdo con que necesitamos esta herramienta democrática para gobernar Madrid, firma aquí:</p>

        {{ form_start(form, {'attr': {'role': 'form', 'id': 'form0'}}) }}
        {{ form_errors(form) }}

        <div class="row top_25">
            <div class="form-group col-sm-6">
                {{ form_row(form.nombre, {'attr': {'class': 'form-control'}, 'label': 'Nombre y apellidos'}) }}
            </div>

            <div class="form-group col-sm-6">
                {{ form_row(form.documentoIdentidad, {'attr': {'class': 'form-control', 'placeholder': 'Ej: 12345678Z'}, 'label': 'DNI / NIE'}) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group col-sm-6">
                {{ form_row(form.actividad, {'attr': {'class': 'form-control'}, 'label': 'Actividad / Profesión'}) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6" id="grupo_provincia">
                <label for="provincia">Provincia</label>
                <input id="provincia" name="provincia" type="hidden">
                <select id="select_provincia" class="form-control">
                </select>
            </div>
            <div class="form-group" id="grupo_pais">
                <label for="pais">País</label>
                <input id="pais" name="pais" type="hidden">
                <select id="select_pais" class="form-control">
                </select>
            </div>
            <div class="form-group col-sm-6" id="grupo_ciudad">
                <label for="ciudad">Ciudad</label>
                <input id="ciudad" name="ciudad" type="hidden">
                <select id="select_ciudad" class="form-control">
                </select>
            </div>
            <div class="third" id="grupo_barrio">
                <label for="barrio">Barrio</label>
                <input id="barrio" name="barrio" type="hidden">
                <select id="select_barrio" class="form-control">
                </select>
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.ocultarNombre, {'attr': {'class': 'form-control'}, 'label': 'Prefiero que mi firma no aparezca en el listado público'}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.suscribirseLista, {'attr': {'class': 'checkbox'}, 'label': '¿Quieres recibir información de vez en cuando sobre lo que ocurre en torno a Ganemos Madrid? A esta lista de correos solo mandaremos un boletín de noticias de vez en cuando'}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'form-control'}, 'label': 'Firmar', 'attr': {'class': 'btn btn-primary btn-large'}}) }}
        </div>

        {{ form_end(form) }}

        <div class="top_25 row panel panel-default">
            <div class="panel-body">
                <small class="text-grey">Al firmar este llamamiento, declaras ser mayor de 16 años y conocer nuestra política de privacidad. De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, te informamos de que los datos personales que nos proporciones así como aquellos que nos facilites en un futuro serán incorporados a un fichero automatizado de datos de carácter personal responsabilidad de Ganemos Madrid, con la finalidad de publicar tu nombre, apellidos y ocupación en la página web ganemosmadrid.info como firmante de nuestro llamamiento (si así lo has decidido) y de gestionar las comunicaciones que podamos realizar contigo. Para ejercitar los derechos de acceso, rectificación, oposición y cancelación reconocidos por la legislación vigente, el interesado deberá realizar una comunicación a <a href="mailto:legal@ganemosmadrid.info">legal@ganemosmadrid.info</a>, indicando como asunto "Protección de datos".</small>
            </div>
        </div>

        {% javascripts filter='?uglifyjs'
            '@GanemosMadridFirmasApoyoBundle/Resources/public/js/main.js'
        %}
        {% endjavascripts %}

    {% endblock %}
