{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% form_theme form 'GanemosMadridFirmasApoyoBundle::form_theme.html.twig' %}

{% block body %}

    <div class="span9 offset2">

      {% if app.request.headers.get('referer') == '' %}
        <h1>APOYA A GANEMOS MADRID</h1>
       {% endif %}

        <p>El formulario de firmas de apoyo patatín patatán.</p>



        {{ form_start(form, {'attr': {'role': 'form', 'id': 'form0'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.documentoIdentidad, {'attr': {'class': 'form-control', 'placeholder': 'Ej: 12345678Z'}, 'label': 'DNI / NIE'}) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.actividad, {'attr': {'class': 'form-control'}, 'label': 'Actividad / Profesión'}) }}
            </div>
        </div>

        <div class="form-group" id="grupo_provincia">
            <label for="provincia">Provincia</label>
            <input id="provincia" name="provincia" type="hidden">
            <select id="select_provincia" class="form-control">
            </select>
        </div>
        <div class="form-group" id="grupo_pais">
            <label for="pais">País</label>
            <input id="pais" name="pais" type="hidden">
            <select id="select_pais" class="form-control">
            </select>
        </div>
        <div class="form-group" id="grupo_ciudad">
            <label for="ciudad">Ciudad</label>
            <input id="ciudad" name="ciudad" type="hidden">
            <select id="select_ciudad" class="form-control">
            </select>
        </div>
        <div class="third" id="grupo_barrio">
            <label for="barrio">Barrio</label>
            <input id="barrio" name="barrio" type="hidden">
            <select id="select_barrio" class="form-control">
            </select>
        </div>

        <div class="form-group">
            {{ form_row(form.ocultarNombre, {'attr': {'class': 'form-control'}, 'label': 'Prefiero que mi firma no aparezca en el listado público'}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.suscribirseLista, {'attr': {'class': 'checkbox'}, 'label': '¿Quieres recibir información de vez en cuando sobre lo que ocurre en torno a Ganemos Madrid? A esta lista de correos solo mandaremos un boletín de noticias de vez en cuando'}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'form-control'}, 'label': 'Firmar', 'attr': {'class': 'btn btn-primary btn-large'}}) }}
        </div>

        {{ form_end(form) }}

        <div class="top_25 row panel panel-default">
            <div class="panel-body">
                <small class="text-grey">Al firmar este llamamiento, declaras ser mayor de 16 años y conocer nuestra política de privacidad. De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, te informamos de que los datos personales que nos proporciones así como aquellos que nos facilites en un futuro serán incorporados a un fichero automatizado de datos de carácter personal responsabilidad de Ganemos Madrid, con la finalidad de publicar tu nombre, apellidos y ocupación en la página web ganemosmadrid.info como firmante de nuestro llamamiento (si así lo has decidido) y de gestionar las comunicaciones que podamos realizar contigo. Para ejercitar los derechos de acceso, rectificación, oposición y cancelación reconocidos por la legislación vigente, el interesado deberá realizar una comunicación a <a href="mailto:legal@ganemosmadrid.info">legal@ganemosmadrid.info</a>, indicando como asunto "Protección de datos".</small>
            </div>
        </div>

        <script src="{{ asset('bundles/ganemosmadridfirmasapoyo/js/main.js') }}"></script>

    {% endblock %}
