{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% form_theme form 'GanemosMadridFirmasApoyoBundle::form_theme.html.twig' %}

{% block body %}

    <div class="span9 offset2">

        <h1>APOYA A GANEMOS MADRID</h1>

        <p>El formulario de firmas de apoyo patatín patatán.</p>



        {{ form_start(form, {'attr': {'role': 'form', 'id': 'form0'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.documentoIdentidad, {'attr': {'class': 'form-control', 'placeholder': 'Ej: 12345678Z'}, 'label': 'DNI - NIE'}) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_row(form.actividad, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group" id="grupo_provincia">
            <label for="provincia">Provincia</label>
            <input id="provincia" name="provincia" type="hidden">
            <select id="select_provincia" class="form-control">
            </select>
        </div>
        <div class="form-group" id="grupo_pais">
            <label for="pais">País</label>
            <input id="pais" name="pais" type="hidden">
            <select id="select_pais" class="form-control">
            </select>
        </div>
        <div class="form-group" id="grupo_ciudad">
            <label for="ciudad">Ciudad</label>
            <input id="ciudad" name="ciudad" type="hidden">
            <select id="select_ciudad" class="form-control">
            </select>
        </div>
        <div class="third" id="grupo_barrio">
            <label for="barrio">Barrio</label>
            <input id="barrio" name="barrio" type="hidden">
            <select id="select_barrio" class="form-control">
            </select>
        </div>

        <div class="form-group">
            {{ form_row(form.ocultarNombre, {'attr': {'class': 'checkbox'}, 'label': 'Prefiero que mi firma no aparezca en el listado público'}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.suscribirseLista, {'attr': {'class': 'checkbox'}, 'label': '¿Quieres recibir información de vez en cuando sobre lo que ocurre en torno a Ganemos Madrid? A esta lista de correos solo mandaremos un boletín de noticias de vez en cuando'}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'form-control'}, 'label': 'Firmar', 'attr': {'class': 'btn btn-primary btn-large'}}) }}
        </div>

        {{ form_end(form) }}

        <script src="{{ asset('bundles/ganemosmadridfirmasapoyo/js/main.js') }}"></script>

    {% endblock %}
