{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% block body %}

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=141949289336670&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1>¡Muchas gracias, tu firma ha sido registrada!</h1>

    <div class="row top_25">
        <div class="col-xs-6 form-group">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('firmar') }}" title="Compartir en Facebook" target="_blank" class="btn btn-block btn-social btn-sm btn-facebook">
                <i class="fa fa-facebook"></i>Comparte en Facebook
            </a>
        </div>
        <div class="col-xs-6 form-group">
            <a href="https://twitter.com/intent/tweet?text=He apoyado con mi firma a @GanemosMadrid para que todo cambie de una vez en esta ciudad. ¿Tú no? {{ url('firmar') }} @GanemosMadrid" title="Share on Twitter" target="_blank" class="btn btn-block btn-social btn-sm btn-twitter pull-right">
                <i class="fa fa-twitter"></i>Comparte en Twitter
            </a>
        </div>
    </div>

    <div class="row">

      {% if app.request.headers.get('referer') == '' %}
        <div class="form-group col-xs-3">
            <a class="btn btn-default" href="{{ path('firmar') }}" role="button">Volver</a>
        </div>
        <div class="form-group col-xs-4">
            <a class="btn btn-default" href="{{ path('apoyos') }}" role="button">Listado de apoyos</a>
        </div>
        <div class="form-group col-xs-5">
            <a class="btn btn-default pull-right" href="http://ganemosmadrid.info" role="button">Ir ganemosmadrid.info</a>
        </div>
      {% else %}
        <div class="form-group col-xs-6">
            <a class="btn btn-default" href="{{ path('firmar') }}" role="button">Volver</a>
        </div>
        <div class="form-group col-xs-6">
            <a class="btn btn-default pull-right" href="{{ path('apoyos') }}" role="button">Listado de apoyos</a>
        </div>
      {% endif %}

    </div>


{% endblock %}
