{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% block body %}

    <h1>Firmas de apoyo</h1>
    <p>Ya tenemos <strong>{{ pagination.getTotalItemCount }}</strong> firmas.</p>

    <table class="table table-striped ">

        <tr>
            <th>Nombre</th>
            <th>Actividad</th>
            <th>Provincia</th>
        </tr>

        {% for firma in pagination %}
            <tr>
                <td>{% if firma.ocultarNombre == 0 %}{{ firma.nombre }}{% else %}**********{% endif %}</td>
                <td>{{ firma.actividad }}</td>
                <td>{{ firma.ciudad }}</td>
            </tr>
        {% endfor %}

    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}