{% extends 'GanemosMadridFirmasApoyoBundle::layout.html.twig' %}

{% block body %}

  {% if app.request.query.get('header') == '' %}
    <h1>Listado de apoyos</h1>
  {% endif %}

   <h3><span class="label label-primary">{{ pagination.getTotalItemCount }}</span> personas ya han brindado su apoyo</h3>
<br>
    <table id="listadoFirmas" class="table table-striped ">

        <tr>
            <th>Nombre</th>
            <th>Actividad / Profesión</th>
            <th>Ciudad</th>
        </tr>

        {% for firma in pagination %}
            <tr>
                <td>{% if firma.ocultarNombre == 0 %}{{ firma.nombre }}{% else %}**********{% endif %}</td>
                <td>{{ firma.actividad }}</td>
                <td>{{ firma.ciudad }}</td>
            </tr>
        {% endfor %}

    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
